
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 260px;
    margin: 0 6px;
    margin-bottom: 12px;

    // .action {
      
    //     background-color: var(--blue);
    //     width: 40px;
    //     border-radius: 8px;
        
    //     //top: calc(50% - ((100% - 20px) / 2));
    //     z-index: 2;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     cursor: pointer;
    //     transition: all .3s ease;

    //     &:active {
    //         transform: scale(0.9);
    //     }

    // }

    .in {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 5px;
        transition: all .3s ease;
        border-radius: 11px;
        background: #FFFFFF;
        box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.05);
        height: 77px;
        cursor: pointer;


        &:active {
            transform: scale(0.9);
        }
    
        &:hover {
            box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.2);
        }

        .edit {
            width: 50px;
            background-color: var(--blue);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-radius: 8px;
            color:#fff;

        }
    }


    

    .label {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .text {
            width: 100%;
            text-align: center;
            // overflow: hidden;
            // text-align: center;
            // text-overflow: ellipsis;
            // white-space: nowrap;
        }
    }
}

.wrapper.add {
    background-color: var(--blue);

    .label {    
        color: #fff;
        font-weight: 700;
    }
}

.add {
    // display: flex;
    overflow: hidden;
    height: 77px;
    width: 260px;
    margin: 0 6px;
    margin-bottom: 12px;


    .part {
        background-color: var(--blue);box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 77px;
        cursor: pointer;
        transition: all .3s ease;

        &:active {
            transform: scale(0.9);
        }
    
        &:hover {
            box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.2);
        }


        .label {
            color: #fff;
            text-align: center;
            font-weight: 700;
        }
    }
}