.modal {
    background-color: transparent !important;

    .ant-modal-content {
        border-radius: 21px;
        background-color: #F9F9F9;
    }

    .modal-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 17px;
    }
}

// .modal-ll {
//     .ant-modal-content {
//         padding-left: 0;
//         padding-right: 0;
//     }
// }