.ant-select {   
    // overflow: hidden;
    width: 100%;

    .ant-select-selector {
        height: 40px !important;
        background-color:  #fff !important;
        box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        border-color: transparent !important;
         
        .ant-select-selection-search {
            .ant-select-selection-search-input {
                // height: 35.63px;
                height: 100%;
            }
        }
        .ant-select-selection-placeholder {
            line-height: 40px;
            color: #7E7E7E;
            font-size: 15px !important;
        }

        .ant-select-selection-overflow {
            .ant-select-selection-overflow-item {
                .ant-select-selection-item {

                }
            }
        }
    }


}
.ant-select.ant-select-focused {
    .ant-select-selector {
        box-shadow: none !important;
        border-color: var(--blue) !important;
    }
}