.table {
    width: 100%;
    // border-radius: 10px;
    overflow: hidden;
    overflow-x: auto;
    border-collapse: collapse;

    .table__row {
        &:last-child {
            .table__item:not(.table__item-head) {
                overflow: hidden;
                
                &:first-child {
                    border-radius: 0 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 0 10px 0;
                }
            }
        }
    }

    .table__row:not(.table__row-head) {
        &:nth-child(even) {
            .table__item {
                background-color: var(--dark_gray);
            }
        }
        &:nth-child(odd) {
            .table__item {
                background-color: #fff;
            }
        }
    }

    .table__row-head {
        text-align: left;
    }

    .table__item {
        padding: 10px;
        font-weight: 400;
    }

    .table__item.table__item-head {
        &:first-child {
            border-radius: 10px 0 0 0;
        }
        &:last-child {
            border-radius: 0 10px 0 0;
        }
        color: #fff;
        background-color: var(--dark_blue);

        .table__item-head_label {
            display: flex;
            align-items: center;
            cursor: pointer;

            .table__item-head_label_icon {
                margin-left: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 100%;
                transition: all .3s ease;
                opacity: 0;
            }
        }
    }

    .table__item.table__item-head {
        .table__item-head_label.active {
            .table__item-head_label_icon {
                opacity: 1;
            }
        }
    }

    .table__item-head {
        .table__item-head_label.asc {
            .table__item-head_label_icon {
                transform: rotate(180deg);
            }
        }
    }
}