.wrapper {
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .load {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .body {
        
    }
}