.wrapper {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    border-radius: 11px;
    transition: all .3s ease;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    .load {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;

        
    }

    &:hover {
        opacity: .7;
    }

    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        filter: grayscale(1);
        opacity: .6;
        pointer-events: none;
        touch-action: none;
    }
}

.wrapper.loading {
    pointer-events: none;
    touch-action: none;

    .text {
        opacity: 0;
    }
}

.wrapper.blue {
    background-color: var(--blue);
}

.wrapper.danger {
    background-color: var(--red);
}

.wrapper.round {
    border-radius: 20px;
}

.wrapper.fill {
    width: 100%;
}

.wrapper.black_bordered {
    border: 2px solid var(--dark_blue);
    color: var(--dark_blue);
    padding-top: 8px;
    padding-bottom: 8px;
}