.wrapper {

    .top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .body {
            width: 100%;
        }
        .action {
            width: 250px;
            flex: 0 0 auto;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;

            .action_item {
                margin: 5px;
                width: 100%;

                button {
                    width: 100%;
                }
            }
        }

    }

    .main {

        .table_action {
            display: flex;
            align-items: center;
            margin-left: -5px;
            margin-right: -5px;
            // justify-content: center;
            
            .table_action_item {
                margin: 0 5px;

            }
        }
    }

    .pag {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}