.wrapper {
    height: 53px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    padding: 5px 35px 5px 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    .action {
        display: flex;
        align-items: center;

        cursor: pointer;

        .label {
            margin-right: 5px;
        }

        .icon {
            line-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}