.wrapper {
    height: 53px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    padding: 5px 35px 5px 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}